@page "/movie/new"

<div class="container bg-white rounded border p-3">
    <div class="pl-3">
        <div class="row">
            <span style="font-size:18px; color:#8f8f8f;"><a href="/movie" style="color:#6372C4">Movies</a> /  New</span>
        </div>
        <div class="row pt-4">
            <button class="btn btn-primary" type="submit" @onclick=@(()=> Save()) style="background-color:#6372C4"><i class="far fa-save"></i> Save</button>
            <a class="btn border ml-1" href="/movie"><i class="fas fa-undo"></i> Cancel</a>
        </div>
    </div>
</div>

<div class="container bg-white border box-shadow p-3 rounded">
    <MovieForm MovieVM="MovieVM" ecb_Save="Create" Type="New" @ref="Form" />
</div>


@code
{
    [Inject] public IMovieService MovieService { get; set; }
    [Inject] public IJSRuntime JSRuntime { get; set; }
    [Inject] NavigationManager NavigationManager { get; set; }

    protected MovieForm Form;
    MovieVM MovieVM { get; set; } = new MovieVM();

    private async Task Save()
    {
        await Form.ParentSubmit();
    }
    private async Task Create()
    {
        MovieVM.Exception = null;
        MovieVM createdMovieVM = await MovieService.CreateMovie(MovieVM);

        if (string.IsNullOrEmpty(createdMovieVM.Exception))
        {
            await JSRuntime.Notfication($"Movie {MovieVM.Movie.MovieId} has been created successfully!", IJSRuntimeExtensionMethods.SweetAlertMessageType.success, 3000);
            NavigationManager.NavigateTo($"/movie");
        }
        else
        {
            await JSRuntime.Notfication(createdMovieVM.Exception, IJSRuntimeExtensionMethods.SweetAlertMessageType.error, 10000);
        }
    }
}