@if (Clicked_Id == Subtitle.Id && Clicked_Id != Pre_Clicked_Id)
{
    Console.WriteLine(Vid_On);
    Vid_On = Subtitle.Id;
    <a>
        <video style="width: 70px; height: 60px" autoplay loop>
            @*<source src="@Subtitle.OnCloudClip" type="video/mp4">*@
            Your browser does not support playing this Video
        </video>
    </a>
}
else if (Clicked_Id == Subtitle.Id && Clicked_Id == Pre_Clicked_Id && Vid_On != Subtitle.Id)
{
    Console.WriteLine(Vid_On);
    Vid_On = Subtitle.Id;
    <a>
        <video style="width: 70px; height: 60px" autoplay loop>
            @*<source src="@Subtitle.OnCloudClip" type="video/mp4">*@
            Your browser does not support playing this Video
        </video>
    </a>
}
else if (Clicked_Id == Subtitle.Id && Clicked_Id == Pre_Clicked_Id && Vid_On == Subtitle.Id)
{
    Console.WriteLine(Vid_On);
    Vid_On = 0;
    <a>
        <video style="width: 70px; height: 60px">
            @*<source src="@(Subtitle.OnCloudClip)" type="video/mp4">*@
            Your browser does not support playing this Video
        </video>
    </a>
}
else
{
    Console.WriteLine(Vid_On);
    <a>
        <video style="width: 70px; height: 60px">
            @*<source src="@Subtitle.OnCloudClip" type="video/mp4">*@
            Your browser does not support playing this Video
        </video>
    </a>
}

@code {

    [CascadingParameter] public MainLayout.AppParam AppParam { get; set; }
    [Parameter] public Subtitle Subtitle { get; set; }
    [Parameter] public int Clicked_Id { get; set; }
    [Parameter] public int Pre_Clicked_Id { get; set; }
    int Vid_On { get; set; }
}
