<div class="container ml-4">
    <div class="row">
        <div class="col-auto"> <span style="font-size:30px;color:transparent">&emsp;&emsp;&emsp;&emsp;&nbsp;</span></div>

        <div class="col">

            @if (Voc.VocsQuotes != null && Voc.VocsQuotes.Count > 0)
            {
                <div class="row mt-4">
                    <div class="col">

                        <div class="row float-right">
                            <a href="/quote/new">Add Quote</a>
                        </div>
                        <div class="row ml-1 mt-4">
                            <table>

                                @foreach (var vocQuote in Voc.VocsQuotes)
                                {
                                    <tr style="height:40px; color:navy; font-family:'Tajawal'; font-weight: bold; font-size: 16px;">@((MarkupString)vocQuote.Quote.Text)</tr>
                                    <tr class="quoteStyle" style="height:40px; color:indianred; font-family:'Tajawal'; font-weight: bold; font-size: 20px;">@vocQuote.Quote.Influencer.Name</tr>
                                    
                                }

                            </table>
                        </div>
                    </div>
                </div>          
            }
        </div>
    </div>
</div>

@code
{
    [Parameter] public Voc Voc { get; set; }
    [Inject] public IJSRuntime JSRuntime { get; set; }

    protected override Task OnInitializedAsync()
    {

        return base.OnInitializedAsync();
    }
}

<style>
    .quoteStyle {
        border: none;
        border-bottom: 1px solid #eeeeee;
    }
</style>