@page "/lang"

<div class="container bg-white rounded border p-3">
    <div class="pl-3">
        <div class="row">
            <span style="font-size:18px; color:#8f8f8f;">Langs</span>
        </div>
        <div class="row pt-4">
            <a class="btn btn-primary" href="/lang/new" style="background-color:#6372C4"><i class="far fa-file"></i> New</a>
        </div>
    </div>
</div>

<div class="container bg-white border box-shadow p-3 rounded">
    @if (LangVMs == null)
    {
        <p style="color:gray;">Loading ...</p>
    }
    else if (LangVMs.Count() == 0)
    {
        <p style="color:gray;">No records to display.</p>
    }
    else
    {
        <SfGrid DataSource="@LangVMs" AllowPaging="true" AllowSorting="true">
            <GridEvents RowSelected="RowSelectHandler" TValue="LangVM"></GridEvents>
            <GridPageSettings PageSize="10" />
            <GridColumns>
                <GridColumn Field="Lang.Id" HeaderText="ID" Width="50" />
                <GridColumn Field="Lang.Name" HeaderText="Name" Width="200" />
            </GridColumns>
        </SfGrid>
    }
</div>


@code 
{
    [Inject] public ILangService LangService { get; set; }
    [Inject] NavigationManager NavigationManager { get; set; }
    [Inject] public IJSRuntime JSRuntime { get; set; }

    public List<LangVM> LangVMs { get; set; }

    protected override async Task OnInitializedAsync()
    {
        LangVMs =(await LangService.GetLangs()).OrderByDescending(x => x.Lang.Id).ToList();
        if (LangVMs.Count > 0 && !string.IsNullOrEmpty(LangVMs[0].Exception))
        {
            await JSRuntime.Notfication(LangVMs[0].Exception, IJSRuntimeExtensionMethods.SweetAlertMessageType.error, 10000);
        }
    }

    public void RowSelectHandler(RowSelectEventArgs<LangVM> args)
    {
        NavigationManager.NavigateTo($"lang/{args.Data.Lang.Id}");
    }
}


 <style>
            .e-grid .e-headercelldiv {
                background-color: #F2F3F4;
                font-size: 16px;
            }

            .e-grid .e-rowcell {
                font-size: 14px;
            }
 </style>
