@page "/lang/edit/{id:int}"

<div class="container bg-white rounded border p-3">
    <div class="pl-3">
        <div class="row">
            <span style="font-size:18px; color:#8f8f8f;"><a href="/lang" style="color:#6372C4">Langs</a>  /  @id</span>
        </div>
        <div class="row pt-4">
            <button class="btn btn-primary" type="submit" @onclick=@(()=> Save()) style="background-color:#6372C4"><i class="far fa-save"></i> Save</button>
            <a class="btn border ml-1" href="/lang/@id"><i class="fas fa-undo"></i> Cancel</a>
        </div>
    </div>
</div>

<div class="container bg-white border box-shadow p-3 rounded">
    <LangForm LangVM="LangVM" ecb_Save="Update" Type="Edit" @ref="Form"/>
</div>

    @code {

        [Inject] public ILangService LangService { get; set; }
        [Inject] public IJSRuntime JSRuntime { get; set; }
        [Inject] NavigationManager NavigationManager { get; set; }
        [Parameter] public int id { get; set; }

        LangVM LangVM { get; set; } = new LangVM();
        protected LangForm Form;

        protected override async Task OnInitializedAsync()
        {
            LangVM = await LangService.GetLang(id);
        }

        private async Task Save()
        {
            await Form.ParentSubmit();
        }

        private async Task Update()
        {
            LangVM.Exception = null;
            LangVM updatedLangVM = await LangService.UpdateLang(LangVM.Lang.Id, LangVM);

            if (string.IsNullOrEmpty(updatedLangVM.Exception))
            {
                await JSRuntime.Notfication($"Langment {LangVM.Lang.Name} has been updated successfully!", IJSRuntimeExtensionMethods.SweetAlertMessageType.success, 3000);
                NavigationManager.NavigateTo($"/lang/{updatedLangVM.Lang.Id}");
            }
            else
            {
                await JSRuntime.Notfication(updatedLangVM.Exception, IJSRuntimeExtensionMethods.SweetAlertMessageType.error, 10000);
            }
        }
    }
