@page "/image"

<div class="container bg-white rounded border p-3">
    <div class="pl-3">
        <div class="row">
            <span style="font-size:18px; color:#8f8f8f;">Images</span>
        </div>
        <div class="row pt-4">
            <a class="btn btn-primary" href="/image/new" style="background-color:#6372C4"><i class="far fa-file"></i> New</a>
        </div>
    </div>
</div>

<div class="container bg-white border box-shadow p-3 rounded">
    @if (ImageVMs == null)
    {
        <p style="color:gray;">Loading ...</p>
    }
    else if (ImageVMs.Count() == 0)
    {
        <p style="color:gray;">No records to display.</p>
    }
    else
    {
        <SfGrid DataSource="@ImageVMs" AllowPaging="true" AllowSorting="true">
            <GridEvents RowSelected="RowSelectHandler" TValue="ImageVM"></GridEvents>
            <GridPageSettings PageSize="10" />
            <GridColumns>
                <GridColumn Field="Image.Id" HeaderText="ID" Width="50" />
                <GridColumn Field="Image.Name" HeaderText="Name" Width="200" />
            </GridColumns>
        </SfGrid>
    }
</div>


@code 
{
    [Inject] public IImageService ImageService { get; set; }
    [Inject] NavigationManager NavigationManager { get; set; }
    [Inject] public IJSRuntime JSRuntime { get; set; }

    public List<ImageVM> ImageVMs { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ImageVMs =(await ImageService.GetImages()).OrderByDescending(x => x.Image.Id).ToList();
        if (ImageVMs.Count > 0 && !string.IsNullOrEmpty(ImageVMs[0].Exception))
        {
            await JSRuntime.Notfication(ImageVMs[0].Exception, IJSRuntimeExtensionMethods.SweetAlertMessageType.error, 10000);
        }
    }

    public void RowSelectHandler(RowSelectEventArgs<ImageVM> args)
    {
        NavigationManager.NavigateTo($"image/{args.Data.Image.Id}");
    }
}


 <style>
            .e-grid .e-headercelldiv {
                background-color: #F2F3F4;
                font-size: 16px;
            }

            .e-grid .e-rowcell {
                font-size: 14px;
            }
 </style>
