@page "/influencer/new"

<div class="container bg-white rounded border p-3">
    <div class="pl-3">
        <div class="row">
            <span style="font-size:18px; color:#8f8f8f;"><a href="/influencer" style="color:#6372C4">Influencers</a> /  New</span>
        </div>
        <div class="row pt-4">
            <button class="btn btn-primary" type="submit" @onclick=@(()=> Save()) style="background-color:#6372C4"><i class="far fa-save"></i> Save</button>
            <a class="btn border ml-1" href="/influencer"><i class="fas fa-undo"></i> Cancel</a>
        </div>
    </div>
</div>

<div class="container bg-white border box-shadow p-3 rounded">
    <InfluencerForm InfluencerVM="InfluencerVM" ecb_Save="Create" Type="New" @ref="Form" />
</div>


@code
{
    [Inject] public IInfluencerService InfluencerService { get; set; }
    [Inject] public IJSRuntime JSRuntime { get; set; }
    [Inject] NavigationManager NavigationManager { get; set; }

    protected InfluencerForm Form;
    InfluencerVM InfluencerVM { get; set; } = new InfluencerVM();

    private async Task Save()
    {
        await Form.ParentSubmit();
    }
    private async Task Create()
    {
        InfluencerVM.Exception = null;
        InfluencerVM createdInfluencerVM = await InfluencerService.CreateInfluencer(InfluencerVM);

        if (string.IsNullOrEmpty(createdInfluencerVM.Exception))
        {
            await JSRuntime.Notfication($"Influencer {InfluencerVM.Influencer.Name} has been created successfully!", IJSRuntimeExtensionMethods.SweetAlertMessageType.success, 3000);
            NavigationManager.NavigateTo($"/influencer/{createdInfluencerVM.Influencer.Id}");
        }
        else
        {
            await JSRuntime.Notfication(createdInfluencerVM.Exception, IJSRuntimeExtensionMethods.SweetAlertMessageType.error, 10000);
        }
    }
}