@page "/influencer/edit/{id:int}"

<div class="container bg-white rounded border p-3">
    <div class="pl-3">
        <div class="row">
            <span style="font-size:18px; color:#8f8f8f;"><a href="/influencer" style="color:#6372C4">Influencers</a>  /  @id</span>
        </div>
        <div class="row pt-4">
            <button class="btn btn-primary" type="submit" @onclick=@(()=> Save()) style="background-color:#6372C4"><i class="far fa-save"></i> Save</button>
            <a class="btn border ml-1" href="/influencer/@id"><i class="fas fa-undo"></i> Cancel</a>
        </div>
    </div>
</div>

<div class="container bg-white border box-shadow p-3 rounded">
    <InfluencerForm InfluencerVM="InfluencerVM" ecb_Save="Update" Type="Edit" @ref="Form"/>
</div>

    @code {

        [Inject] public IInfluencerService InfluencerService { get; set; }
        [Inject] public IJSRuntime JSRuntime { get; set; }
        [Inject] NavigationManager NavigationManager { get; set; }
        [Parameter] public int id { get; set; }

        InfluencerVM InfluencerVM { get; set; } = new InfluencerVM();
        protected InfluencerForm Form;

        protected override async Task OnInitializedAsync()
        {
            InfluencerVM = await InfluencerService.GetInfluencer(id);
        }

        private async Task Save()
        {
            await Form.ParentSubmit();
        }

        private async Task Update()
        {
            InfluencerVM.Exception = null;
            InfluencerVM updatedInfluencerVM = await InfluencerService.UpdateInfluencer(InfluencerVM.Influencer.Id, InfluencerVM);

            if (string.IsNullOrEmpty(updatedInfluencerVM.Exception))
            {
                await JSRuntime.Notfication($"Influencerment {InfluencerVM.Influencer.Name} has been updated successfully!", IJSRuntimeExtensionMethods.SweetAlertMessageType.success, 3000);
                NavigationManager.NavigateTo($"/influencer/{updatedInfluencerVM.Influencer.Id}");
            }
            else
            {
                await JSRuntime.Notfication(updatedInfluencerVM.Exception, IJSRuntimeExtensionMethods.SweetAlertMessageType.error, 10000);
            }
        }
    }
