@page "/influencer"

<div class="container bg-white rounded border p-3">
    <div class="pl-3">
        <div class="row">
            <span style="font-size:18px; color:#8f8f8f;">Influencers</span>
        </div>
        <div class="row pt-4">
            <a class="btn btn-primary" href="/influencer/new" style="background-color:#6372C4"><i class="far fa-file"></i> New</a>
        </div>
    </div>
</div>

<div class="container bg-white border box-shadow p-3 rounded">
    @if (InfluencerVMs == null)
    {
        <p style="color:gray;">Loading ...</p>
    }
    else if (InfluencerVMs.Count() == 0)
    {
        <p style="color:gray;">No records to display.</p>
    }
    else
    {
        <SfGrid DataSource="@InfluencerVMs" AllowPaging="true" AllowSorting="true">
            <GridEvents RowSelected="RowSelectHandler" TValue="InfluencerVM"></GridEvents>
            <GridPageSettings PageSize="10" />
            <GridColumns>
                <GridColumn Field="Influencer.Id" HeaderText="ID" Width="50" />
                <GridColumn Field="Influencer.Name" HeaderText="Name" Width="200" />
            </GridColumns>
        </SfGrid>
    }
</div>


@code 
{
    [Inject] public IInfluencerService InfluencerService { get; set; }
    [Inject] NavigationManager NavigationManager { get; set; }
    [Inject] public IJSRuntime JSRuntime { get; set; }

    public List<InfluencerVM> InfluencerVMs { get; set; }

    protected override async Task OnInitializedAsync()
    {
        InfluencerVMs =(await InfluencerService.GetInfluencers()).OrderByDescending(x => x.Influencer.Id).ToList();
        if (InfluencerVMs.Count > 0 && !string.IsNullOrEmpty(InfluencerVMs[0].Exception))
        {
            await JSRuntime.Notfication(InfluencerVMs[0].Exception, IJSRuntimeExtensionMethods.SweetAlertMessageType.error, 10000);
        }
    }

    public void RowSelectHandler(RowSelectEventArgs<InfluencerVM> args)
    {
        NavigationManager.NavigateTo($"influencer/{args.Data.Influencer.Id}");
    }
}


 <style>
            .e-grid .e-headercelldiv {
                background-color: #F2F3F4;
                font-size: 16px;
            }

            .e-grid .e-rowcell {
                font-size: 14px;
            }
 </style>
