<div class="row">
    <div class="offset-4 col-4 rounded" style="width:100px; height:120px; border:medium; border-color:dimgray;">
        <h4><b>@UserVocVMs[0].VocVM.Voc.Text</b></h4>
    </div>
</div>
@code {
    [Parameter] public List<UserVocVM> UserVocVMs { get; set; }
}
