@page "/voc/edit/{id:int}"

<div class="container bg-white rounded border p-3">
    <div class="pl-3">
        <div class="row">
            <span style="font-size:18px; color:#8f8f8f;"><a href="/voc" style="color:#6372C4">Vocs</a>  /  @id</span>
        </div>
        <div class="row pt-4">
            <button class="btn btn-primary" type="submit" @onclick=@(()=> Save()) style="background-color:#6372C4"><i class="far fa-save"></i> Save</button>
            <a class="btn border ml-1" href="/voc/@id"><i class="fas fa-undo"></i> Cancel</a>
        </div>
    </div>
</div>

<div class="container bg-white border box-shadow p-3 rounded">
    <VocForm VocVM="VocVM" ecb_Save="Update" Type="Edit" @ref="Form"/>
</div>

    @code {

        [Inject] public IVocService VocService { get; set; }
        [Inject] public IJSRuntime JSRuntime { get; set; }
        [Inject] NavigationManager NavigationManager { get; set; }
        [Parameter] public int id { get; set; }

        VocVM VocVM { get; set; } = new VocVM();
        protected VocForm Form;

        protected override async Task OnInitializedAsync()
        {
            VocVM = await VocService.GetVoc(id);
        }

        private async Task Save()
        {
            await Form.ParentSubmit();
        }

        private async Task Update()
        {
            VocVM.Exception = null;
            VocVM updatedVocVM = await VocService.UpdateVoc(VocVM.Voc.Id, VocVM);

            if (string.IsNullOrEmpty(updatedVocVM.Exception))
            {
                await JSRuntime.Notfication($"Vocment {VocVM.Voc.Text} has been updated successfully!", IJSRuntimeExtensionMethods.SweetAlertMessageType.success, 3000);
                NavigationManager.NavigateTo($"/voc/{updatedVocVM.Voc.Id}");
            }
            else
            {
                await JSRuntime.Notfication(updatedVocVM.Exception, IJSRuntimeExtensionMethods.SweetAlertMessageType.error, 10000);
            }
        }
    }
