@page "/idiom/new"

<div class="container bg-white rounded border p-3">
    <div class="pl-3">
        <div class="row">
            <span style="font-size:18px; color:#8f8f8f;"><a href="/idiom" style="color:#6372C4">Idioms</a> /  New</span>
        </div>
        <div class="row pt-4">
            <button class="btn btn-primary" type="submit" @onclick=@(()=> Save()) style="background-color:#6372C4"><i class="far fa-save"></i> Save</button>
            <a class="btn border ml-1" href="/idiom"><i class="fas fa-undo"></i> Cancel</a>
        </div>
    </div>
</div>

<div class="container bg-white border box-shadow p-3 rounded">
    <IdiomForm IdiomVM="IdiomVM" ecb_Save="Create" Type="New" @ref="Form" />
</div>


@code
{
    [Inject] public IIdiomService IdiomService { get; set; }
    [Inject] public IJSRuntime JSRuntime { get; set; }
    [Inject] NavigationManager NavigationManager { get; set; }

    protected IdiomForm Form;
    IdiomVM IdiomVM { get; set; } = new IdiomVM();

    private async Task Save()
    {
        await Form.ParentSubmit();
    }
    private async Task Create()
    {
        IdiomVM.Exception = null;
        IdiomVM createdIdiomVM = await IdiomService.CreateIdiom(IdiomVM);

        if (string.IsNullOrEmpty(createdIdiomVM.Exception))
        {
            await JSRuntime.Notfication($"Idiom {IdiomVM.Idiom.Text} has been created successfully!", IJSRuntimeExtensionMethods.SweetAlertMessageType.success, 3000);
            NavigationManager.NavigateTo($"/idiom/{createdIdiomVM.Idiom.Id}");
        }
        else
        {
            await JSRuntime.Notfication(createdIdiomVM.Exception, IJSRuntimeExtensionMethods.SweetAlertMessageType.error, 10000);
        }
    }
}