@page "/uservoc"

<div class="container bg-white rounded border p-3">
    <div class="pl-3">
        <div class="row">
            <span style="font-size:18px; color:#8f8f8f;">UserVocs</span>
        </div>
        <div class="row pt-4">
            <a class="btn btn-primary" href="/uservoc/new" style="background-color:#6372C4"><i class="far fa-file"></i> New</a>
        </div>
    </div>
</div>

<div class="container bg-white border box-shadow p-3 rounded">
    @if (UserVocVMs == null)
    {
        <p style="color:gray;">Loading ...</p>
    }
    else if (UserVocVMs.Count() == 0)
    {
        <p style="color:gray;">No records to display.</p>
    }
    else
    {
        <SfGrid DataSource="@UserVocVMs" AllowPaging="true" AllowSorting="true">
            <GridEvents RowSelected="RowSelectHandler" TValue="UserVocVM"></GridEvents>
            <GridPageSettings PageSize="10" />
            <GridColumns>
                <GridColumn Field="UserVoc.Id" HeaderText="ID" Width="50" />
                <GridColumn Field="UserVoc.Name" HeaderText="Name" Width="200" />
            </GridColumns>
        </SfGrid>
    }
</div>


@code 
{
    [Inject] public IUserVocService UserVocService { get; set; }
    [Inject] NavigationManager NavigationManager { get; set; }
    [Inject] public IJSRuntime JSRuntime { get; set; }

    public List<UserVocVM> UserVocVMs { get; set; }

    protected override async Task OnInitializedAsync()
    {
        //UserVocVMs =(await UserVocService.GetUserVocs()).OrderByDescending(x => x.UserVoc.Id).ToList();
        //if (UserVocVMs.Count > 0 && !string.IsNullOrEmpty(UserVocVMs[0].Exception))
        //{
        //    await JSRuntime.Notfication(UserVocVMs[0].Exception, IJSRuntimeExtensionMethods.SweetAlertMessageType.error, 10000);
        //}
    }

    public void RowSelectHandler(RowSelectEventArgs<UserVocVM> args)
    {
        //NavigationManager.NavigateTo($"uservoc/{args.Data.UserVoc.Id}");
    }
}


 <style>
            .e-grid .e-headercelldiv {
                background-color: #F2F3F4;
                font-size: 16px;
            }

            .e-grid .e-rowcell {
                font-size: 14px;
            }
 </style>
